body
{
    margin:0;
}
.snake_figure#snake_figure
{
    fill:white;stroke-width:1;stroke:#c98d1e;opacity:0.8
}
    
.snake_playground 
{
    position:fixed;display:inline;overflow:hidden;z-index:1000000;opacity:0.85;background:black;left:0;top:0;
}
.snake
{
    position:absolute;display:inline;
}

div.snake_point
{
    position:absolute;
}
.snake>span
{
    position:absolute;
}
.snake span:last-child span
{
    font-size:10px;
    position:relative;
    top:8px
}
.snake_playground svg
{
    height:20px;
    width:20px;
}
.snake_state#snake_state
{
    position:fixed;
    bottom:30px;
    right:30px;
    color:white
}
.counter
{
    position:fixed;
    right:10px;
    top:10px;
    font-size:50px;
    color:white
}
