/**Here provide style for ony those elements which will be removed later on when snake game ends.For all other elements internal style will be added and removed through javascript **/
div.playground_container {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
rect.snake_figure
{
    fill:white;stroke-width:1;stroke:#c98d1e;opacity:0.8 
}  
div.snake_playground
{
    position:static;display:block;overflow:hidden;z-index:1000000;/*opacity:0.85;*/background:black;margin:auto;box-shadow:10px 10px 5px #888 
}
.snake_playground > .highestScore 
{
    position:fixed;
    left:0;
    top:0;
}
.snake_playground > .snake
{
    position:absolute;display:inline;left:0px;top:0px;
}

.snake_playground > .snake_point
{
    position:absolute;
}
.snake_playground > .snake>span
{
    position:absolute;
}
.snake_playground > .snake span:last-child span
{
    font-size:10px;
    position:relative;
    top:8px
}
.snake_playground > .snake_playground svg
{
    height:20px;
    width:20px;
}
.snake_playground > .snake_state
{
    position:fixed;
    bottom:30px;
    right:30px;
    color:white;
    text-align:right;
}
.snake_playground > .snake_gulp_counter
{
    position:fixed;
    right:10px;
    top:10px;
    font-size:50px;
    color:white;
    text-align:right;
}
.snake_playground > .crash_options
{
    position: relative;
    top:45%;
    display:none;
    font-size: 2em;
    font-weight:bolder;
    color:white;
    margin:auto;
    width:38%
} 
.snake_playground >  #snake_iframe
{
    display:none;
}
.snake_playground > .login_snake_game
{
    height: 100px;
    margin: auto;
    position: relative;
    background:none;
    width:40%;
    top:48%;
}
.snake_playground > .login_snake_game.waiting 
{
    background:url('../images/ajax-loader.gif') no-repeat scroll 0 0 transparent;
    top: 36%;
    width: 100px;
}
.snake_playground > .login_snake_game > a:nth-child(1)
{
    background:url("../images/sign_in_orange.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    width: 80px;
    position: absolute;
    display:block
}
.snake_playground > .login_snake_game > a:nth-child(2)
{
    color: orange;
    font-size: 1.4em;
    font-weight: bolder;
    left: 100px;
    position: absolute;
    text-decoration: none;
    display:block
}