
/**Here provide style for ony those elements which will be removed later on when snake game ends.For all other elements internal style will be added and removed through javascript **/
div.playground_container {
    position:fixed;
}
rect.snake_figure#snake_figure
{
    fill:white;stroke-width:1;stroke:#c98d1e;opacity:0.8 
}
    
div.snake_playground#snake_playground
{
    position:fixed;display:inline;overflow:hidden;z-index:1000000;opacity:0.85;background:black;margin:0px auto;border:1px dashed white 
}
div.snake#snake
{
    position:absolute;display:inline;left:0px;top:0px;
}

div.snake_point#snake_point
{
    position:absolute;
}
div.snake#snake>span
{
    position:absolute;
}
div.snake#snake span:last-child span
{
    font-size:10px;
    position:relative;
    top:8px
}
div.snake_playground#snake_playground svg
{
    height:20px;
    width:20px;
}
div.snake_state#snake_state
{
    position:fixed;
    bottom:30px;
    right:30px;
    color:white;
    text-align:right;
}
div.snake_gulp_counter#snake_gulp_counter
{
    position:fixed;
    right:10px;
    top:10px;
    font-size:50px;
    color:white;
    text-align:right;
}
div.crash_options#crash_options
{
    position: fixed;
    left: 40%;
    top:50%;
    display:none;
    font-size: 2em;
    font-weight:bolder;
    color:white
}
#snake_iframe
{
    display:none;
}
#login_snake_game
{
    left: 45%;
    position: fixed;
    top: 50%;
    width:20%;
    height:20%
}
.login_snake_game.waiting 
{
    background: url('http://www.nassauares.net/apps/tabbed_menu/images/loading.gif') no-repeat scroll 0 0 transparent;
}
#login_snake_game > a:nth-child(1)
{
    background: url("https://browserid.org/i/sign_in_orange.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    width: 80px;
    position: absolute;
    display:block
}
#login_snake_game > a:nth-child(2)
{
    color: orange;
    font-size: 1.4em;
    font-weight: bolder;
    left: 100px;
    position: absolute;
    text-decoration: none;
    display:block
}