body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
a {
  text-decoration: none;
}

@media(max-width:360px){
	.book-details {
		flex-direction: column;
		align-items:center;
	}
}