#bookmark-recycler-top.empty
{
list-style-image:url("chrome://bookmark-recycler/skin/user-trash.png");
}
#bookmark-recycler-top.full
{
list-style-image:url("chrome://bookmark-recycler/skin/user-trash-full.png");
}
#bookmark-recycler-bottom.empty
{
list-style-image:url("chrome://bookmark-recycler/skin/user-trash.png");
}
#bookmark-recycler-bottom.full
{
list-style-image:url("chrome://bookmark-recycler/skin/user-trash-full.png");
}
/*#bookmark-recycler.empty:-moz-drag-over
{
list-style-image:url("chrome://bookmark-recycler/skin/user-trash(2).png")
}
#bookmark-recycler.full:-moz-drag-over
{
list-style-image:url("chrome://bookmark-recycler/skin/user-trash-full(2).png")
}
#placesContext_moveToRecyclerBin.trashit
{
list-style-image:url("chrome://bookmark-recycler/skin/user-trash.png")
}
#placesContext_moveToRecyclerBin.trashit[disabled="true"]
{
 color:gray;
}*/
#bookmark-recycler-menu-3.openPage
{
list-style-image:url("chrome://bookmark-recycler/skin/openPage.png") 
}
#bookmark-recycler-menu-1.restore
{
list-style-image:url("chrome://bookmark-recycler/skin/restore.png")
}
#bookmark-recycler-menu-2.delete
{
list-style-image:url("chrome://bookmark-recycler/skin/delete.png")
}
#bookmark-recycler-empty-trash
{
list-style-image:url("chrome://bookmark-recycler/skin/delete.png")
}
#bookmark-recycler-preferences
{
 list-style-image:url("chrome://bookmark-recycler/skin/preferences.png")
}
.bookmark-recycler-deleteButton
{
 list-style-image:url("chrome://bookmark-recycler/skin/delete_small.gif");
}
.bookmark-recycler-restoreButton
{
list-style-image:url("chrome://bookmark-recycler/skin/restore_small.png");
}
.bookmark-recycler-item
{
 width:20em;
}
